application/cache/cache/
application/cache/runtime/
application/cache/session/
application/cache/thumb/
application/config/database.php
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
application/logs/*
/vendor/
.idea